body {
  margin: 0;
}

p {
  margin: 0 0 20px;
}

.app-wrapper {
  display: flex;
  justify-content: space-between;
}

aside {
  width: 100%;
  max-width: 250px;
  height: 100vh;
  background-color: #cecece;
  padding: 1em;
  overflow: overlay;
}

aside input {
  width: 97%;
}

main {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
}

#map {
  width: 100%;
  height: 100vh;
}
